# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Node
node_modules/
dist/
build/

# Logs
*.log
logs/

# Secrets
.env
*.key
*.pem
*.crt
kubeconfig
config
secrets.yaml
*secret*
*password*
